@model TestSubject.Models.Category

<div data-id="@Model.Id" class="category-item">  
    @Html.DisplayFor(model => model.Name)

    @if (Model.Children != null && Model.Children.Any())
    {
        <u1>
            @foreach (var subCategory in Model.Children)
            {
                <li>
                    @Html.DisplayFor(modelItem => subCategory.Name)
                    @Html.DisplayFor(modelItem => subCategory.Children, "CategoryPartial")
                </li>
            }
        </u1>
    }
@*    @{await Html.RenderPartialAsync("ProductPartial", Model.Id);}*@
</div>