@model IndexViewModel
@using TestSubject.Models
@using TestSubject.ViewModels

<style>
    td {
        padding: 5px;
    }

    tr:nth-child(even) {
        background: #CCC;
    }

    tr:nth-child(odd) {
        background: #FFF;
    }
</style>

<div class="category">  
    <label>Категории и продукты:</label>
    @foreach(CategoryModel categ in Model.CategoriesModels)
    {
        <h1><option value="@categ.Id">@categ.Name:</option></h1>


        @foreach (ProductModel prod in Model.ProductsModels)
        {
            if (prod.ParentId == categ.Id)
            {
              <h4><option value="@prod.Id">@prod.Name</option></h4>
            }
        }
    }
</div>